# GLaDOS 登录凭据获取；在 Quantumult X 的重写资源中导入本文件。
hostname = glados.network, glados.rocks, glados.one, glados.space, glados.cloud, glados.vip
^https:\/\/glados\.(network|rocks|one|space|cloud|vip)\/ url script-request-header https://raw.githubusercontent.com/Walvez/glados-auto-checkin/refs/heads/main/glados.autosign.surge.js
