# GLaDOS 登录凭据获取；在 Quantumult X 的重写资源中导入本文件。
hostname = glados.rocks
^https:\/\/glados\.rocks\/ url script-request-header https://raw.githubusercontent.com/Walvez/glados-auto-checkin/main/glados.autosign.surge.js
